body {
    margin: 0;
}
.login-form {
    display: flex;
    padding: 24px;
    flex-wrap: wrap;
    
}
form label input {
    display: flex;
    width: 360px;
    height: 40px;
    border: 2px solid #808080;
    border-radius: 4px;
    margin-top: 8px;
    margin-bottom: 8px;
}
form label input:hover {
    border: 2px solid #000000;
}
button {
    margin-top: 8px;
    border-radius: 8px;
    background-color: #4E75FF;
    color: #FFFFFF;
    width: 86px;
    height: 40px;
    border: none;
}
button:hover {
    background-color: #6C8CFF;
}
